body {
  font-family: "Zen Kurenaido", sans-serif;
}
form {
  margin-bottom: 64px;
}

h1 {
  font-size: 40px;
  font-weight: 100;
  line-height: 45px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: purple;
  font-size: 20px;
  line-height: 25px;
  font-weight: 100;
}

a {
  color: rebeccapurple;
}

.wrapping {
  max-width: 700px;
  margin: 30px auto;
}

.weatherApp {
  padding: 40px;
  background: #bbd4eb;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #e771cd;
}

.weatherTemp img {
  margin-right: 20px;
  position: relative;
  font-size: 64px;
  top: -34px;
}
.weatherTemp strong {
  color: purple;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weatherTemp .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.nextDaysForecast {
  margin-top: 64px;
  text-align: center;
  margin: 40px 0;
  padding-bottom: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box;
}

.col {
  text-align: center;
  max-width: 100%;
}

.forecastTempMax {
  color: rgb(70, 8, 133);
}

.forecastTempMin {
  color: rgb(185, 29, 120);
}
