body {
  font-family: "Prompt", sans-serif;
  color: purple;
}

form {
  margin-bottom: 64px;
}

.btn {
  color: white;
  background-color: #d47ae8;
  border-color: #d47ae8;
}
.btn:hover {
  color: #d47ae8;
  background-color: white;
  border-color: #d47ae8;
}

h1 {
  font-size: 45px;
  line-height: 50px;
  font-weight: bold;
}
h2 {
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}

a {
  color: rebeccapurple;
}

.wrapping {
  max-width: 700px;
  margin: 30px auto;
}

.weatherApp {
  text-align: center;
  padding: 40px;
  background: #bbd4eb;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #e771cd;
}

.CurrentWeather .actualTemp {
  padding-left: 20px;
  color: purple;
  font-size: 64px;
  line-height: 1;
  font-weight: bolder;
}

.CurrentWeather .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.CurrentWeather img {
  margin-right: 20px;
  position: relative;
  font-size: 64px;
  top: -34px;
}

.CurrentWeather .conditions {
  text-align: left;
  font-size: 20px;
  line-height: 1;
}
.CurrentWeather .description {
  font-size: 20px;
}

.CurrentWeather:hover {
  background: #fff;
  color: rgb(185, 29, 120);
  border: 1px solid rgb(185, 29, 120);
}

.nextDaysForecast {
  margin-top: 64px;
  text-align: center;
  padding-bottom: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.nextDaysForecast:hover {
  background: #fff;
  color: rgb(185, 29, 120);
  border: 1px solid rgb(185, 29, 120);
}

.forecastTempMax {
  color: rgb(70, 8, 133);
}

.forecastTempMin {
  color: rgb(185, 29, 120);
}
